@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,700');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito, Helvetica, sans-serif;
  color: $dark-grey;
  font-size: $m-size;
  margin: 0;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  color: rgb(255, 13, 182);
  font-weight: 700;
}
